h1{
	font-size: 100px;
	color:rgb(255,0 ,9);
	font-family: serif;
	font-style: italic;

}



.ab{
	font-size: 50px;
	color: rgb(255,171,7);
font-family: serif;
font-style: italic;
}
.bc{
	color:rgb(255,171,0);
	font-family: serif;
	font-size: 50px;
	font-style: italic;
}